extends ../../../layouts/admin

block head
  title Administrateurs / Détails

block feet
  script(src='/views/min/admin/administrators/details.min.js')

block body
  div.app-content
    div.page-container
      div#header
      div#details
      div#login
      div#groups
      div#permissions
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/administrators/') Administrateurs
        |  / <%- name.full %>

  script(type='text/template', id='tmpl-details')
    fieldset
      legend Informations
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Les changements ont été sauvegardé.
        |<% } %>
      div.control-group(class!='<%= errfor.first ? "has-error" : "" %>')
        label.control-label Prénom :
        input.form-control(type='text', name='first', value!='<%= first %>')
        span.help-block <%= errfor.first %>
      div.control-group(class!='<%= errfor.middle ? "has-error" : "" %>')
        label.control-label Middle Name:
        input.form-control(type='text', name='middle', value!='<%= middle %>')
        span.help-block <%= errfor['middle'] %>
      div.control-group(class!='<%= errfor.last ? "has-error" : "" %>')
        label.control-label Nom :
        input.form-control(type='text', name='last', value!='<%= last %>')
        span.help-block <%= errfor.last %>
      div.control-group
        button.btn.btn-primary.btn-update(type='button') Mettre à jour

  script(type='text/template', id='tmpl-login')
    fieldset
      legend Connexion
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
      div.control-group(class!='<%= errfor.newUsername ? "has-error" : "" %>')
        label.control-label Nom d'utilisateur :
        div.input-group
          |<% if (name) { %>
          input.form-control(disabled=true, value!='<%= name %>')
          div.input-group-btn
            button.btn.btn-warning.btn-user-unlink(type='button') Déconnecter
            button.btn.btn-default.btn-user-open(type='button') Ouvrir
          |<% } else { %>
          input.form-control(name='newUsername', type='text', placeholder='Entrer un nom d\'utilisateur')
          div.input-group-btn
            button.btn.btn-success.btn-user-link(type='button') Connecter
          |<% } %>
        span.help-block <%= errfor.newUsername %>

  script(type='text/template', id='tmpl-groups')
    fieldset
      legend Groupes
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Les changements ont été sauvegardé.
        |<% } %>
      div.control-group(class!='<%= errfor.newMembership ? "has-error" : "" %>')
        label.control-label Ajouter un membre à :
        div.input-group
          select.form-control(name='newMembership')
            for group in data.adminGroups
              option(value='#{group._id}') #{group.name}
          div.input-group-btn
            button.btn.btn-success.btn-add(type='button') Ajouter
        span.help-block <%= errfor.newUsername %>
      div.control-group(class!='<%= errfor.memberships ? "has-error" : "" %>')
        label.control-label Membres de :
        div.groups
          |<% _.each(groups, function(group) { %>
          div.input-group
            input.form-control(disabled=true, value!='<%= group.name %>')
            div.input-group-btn
              button.btn.btn-danger.btn-delete(type='button')
                i.fa.fa-trash-o.fa-inverse
          |<% }); %>
          |<% if (groups.length == 0) { %>
          span.badge no memberships defined
          |<% } %>
          span.help-block <%= errfor.memberships %>
      div.control-group
        button.btn.btn-primary.btn-save(type='button') Sauvegarder

  script(type='text/template', id='tmpl-permissions')
    fieldset
      legend Permissions
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Les changements ont été sauvegardé.
        |<% } %>
      div.control-group(class!='<%= errfor.newPermission ? "has-error" : "" %>')
        label.control-label Nouveau paramètre :
        div.input-group
          input.form-control(name='newPermission', type='text', placeholder='entrer un ID')
          div.input-group-btn
            button.btn.btn-success.btn-add(type='button') Ajouter
        span.help-block <%= errfor.newUsername %>
      div.control-group(class!='<%= errfor.settings ? "has-error" : "" %>')
        label.control-label Settings:
        div.permissions
          |<% _.each(permissions, function(permission) { %>
          div.input-group
            input.form-control(disabled=true, value!='<%= permission.name %>')
            div.input-group-btn
              |<% if (permission.permit) { %>
              button.btn.btn-default.btn-allow(type='button', disabled) Allow
              button.btn.btn-default.btn-deny(type='button') Deny
              |<% } else { %>
              button.btn.btn-default.btn-allow(type='button') Allow
              button.btn.btn-default.btn-deny(type='button', disabled) Deny
              |<% } %>
              button.btn.btn-danger.btn-delete(type='button')
                i.fa.fa-trash-o.fa-inverse
          |<% }); %>
          |<% if (permissions.length == 0) { %>
          span.badge no permissions defined
          |<% } %>
          span.help-block <%= errfor.settings %>
      div.control-group
        button.btn.btn-primary.btn-set(type='button') Sauvegarder

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend (Zone Dangereuse)
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%= err %>
        |<% }); %>
      div.control-group
        span.help-block
          span.label.label-danger Action irréversible.
          |&nbsp;
      div.control-group
        button.btn.btn-danger.btn-delete(type='button') Supprimer

  script(type='text/template', id='data-record') !{data.record}
