extends ../layouts/default

block head
  title= t('name')

block neck

block feet
  script(src='/views/min/adok_components/homepage.min.js')
  script(src='/views/min/contact/index.min.js')
  script(src='/views/min/login/index.min.js')

block body
  div.app-content
    div.page-container
      section.text
        h1 New homepage
        h3 Comming soon ...
        //- h5.text-slogan
        //-   span.i I
        //-   span.a adok
        //-   span.c challenge
        //-   span.y you


        btn.btn
          a.contact(id="t_contact") Contact

      div.modals
        div.sign-in
          div.m-signin(id="signin", aria-hidden='true')
            div.l-signin.m-modal
              div.modal__header
                span.title Sign-IN!
                span.close
                  i.fa.fa-backward
                  = t('cl')
              div.modal__content
                h1 Login
                div.socials
                  if oauthGoogle ||oauthFacebook
                    if oauthMessage
                      div.alerts
                        div.alert.alert-info.alert-dismissable
                          button.close(type='button', data-dismiss='alert') &times;
                          |#{oauthMessage}&nbsp;
                          b
                            a(href='/signup/')= t('nav.signup')
                    div.form-actions
                      div.btn-group.btn-group-justified
                        if oauthFacebook
                          a(href='/login/facebook/')
                            img(src='/medias/socials/fb.svg' alt='Facebook')
                        if oauthGoogle
                          a(href='/login/google/')
                            img(src='/medias/socials/g.svg' alt='Google+')
              div.modal__footer
        div.sign-up
          div.m-signup(id="signup", aria-hidden='true')
            div.l-signup.m-modal
              div.modal__header
                span.title Sign-UP!
                span.close
                  i.fa.fa-backward
                  = t('cl')
              div.modal__content
                h1 Signup
                div.socials
                  if oauthGoogle || oauthFacebook
                    if oauthMessage
                      div.alerts
                        div.alert.alert-info.alert-dismissable
                          button.close(type='button', data-dismiss='alert') &times;
                          |#{oauthMessage}&nbsp;
                          b
                            a(href='/login/')= t('nav.signin')
                    div.form-actions
                      div.btn-group.btn-group-justified
                        if oauthFacebook
                          a(href='/signup/facebook/')
                            img(src='/medias/socials/fb.svg' alt='Facebook')
                        if oauthGoogle
                          a(href='/signup/google/')
                            img(src='/medias/socials/g.svg' alt='Google+')
              div.modal__footer
        div.contact
          div.m-contact(id="contactm", aria-hidden='true')
            div.l-contact.m-modal
              div.modal__header
                span.title Contact!
                span.close
                  i.fa.fa-backward
                  = t('cl')
              div.modal__content
                div#contact-form
              div.modal__footer
