extends ../../../layouts/account

block head
  title= t('account.network')

block neck
  link(href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css', rel='stylesheet')
  link(href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.21.0/L.Control.Locate.css', rel='stylesheet')
  link(href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.1/leaflet.fullscreen.css', rel='stylesheet')

block feet
  script(src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js')
  script(src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.21.0/L.Control.Locate.js')
  script(src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.1/Leaflet.fullscreen.min.js')
  script(src='/views/account/network/index.min.js?#{cacheBreaker}')

block body
  div.app-content
    div.page-container
            #list
              #search
                label: i.fa.fa-search
                input(type="text", id="searchbar")
                div.res
              #select
                div.part.selected= t('account.part')
                div.pro= t('account.pro')
              div.list
                - for item in accounts
                  div.tile.acc
                    a(href='/user/#{item.id}')
                      img(src='#{item.pic}')
                      span.fullname #{item.name}
                      input.lat(type="hidden", value="#{item.lat}")
                      input.lng(type="hidden", value="#{item.lng}")
                    div.goto
                      img(src="/media/adok/m-home.png")
                - for item in pros
                  div.tile.pro
                    a(href='/pro/#{item.id}')
                      img.pro(src='#{item.pic}')
                      span.fullname #{item.name}
                      input.lat(type="hidden", value="#{item.lat}")
                      input.lng(type="hidden", value="#{item.lng}")
                    div.goto
                      img(src="/media/adok/m-home.png")
            #map-n
