img(src="http://localhost:3000/media/logo2.png" style="width: 50%; margin: 0 auto; display: block;")
h3(style="text-align: center;")= t('verif.mail1')
p= t("verif.mail2")
a(href='#{verifyURL}') #{verifyURL}
p= t('verif.mail3')
p
  = t('verif.mail4')
  br
  | #{projectName}
