extends ../../../layouts/account

block head
  title= t('settings.title')

block feet
  script(src='/views/min/account/settings/index.min.js')

block body
  div.app-content
    div.page-container
      div#identity
      div#delete

  script(type='text/template', id='tmpl-identity')
    div.alerts
      |<% _.each(errors, function(err) { %>
      div.alert.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        |<%= err %>
      |<% }); %>
      |<% if (success) { %>
      div.alert.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        = t('settings.info-save')
      |<% } %>
      div.col-sm-5
        div.control-group(class!='<%= errfor.username ? "has-error" : "" %>')
          label.control-label= t('signup.user')
          input.form-control(type='text', name='username', value!='<%= username %>')
          span.help-block <%= errfor.username %>
      div.col-sm-5
        div.control-group(class!='<%= errfor.email ? "has-error" : "" %>')
          label.control-label= t('signup.mail')
          input.form-control(type='text', name='email', value!='<%= email %>')
          span.help-block <%= errfor.email %>
      div.col-sm-2
        div.control-group
          button.btn.btn-primary.btn-update(type='button')= t('settings.update')

  script(type='text/template', id='tmpl-delete')
    div.col-sm-12
        div.alerts
          |<% _.each(errors, function(err) { %>
          div.alert.alert-danger.alert-dismissable
            button.close(type='button', data-dismiss='alert') &times;
            |<%= err %>
          |<% }); %>
        div.control-group
          button.btn.btn-danger.btn-delete(type='button')= t('settings.delete')

  script(type='text/template', id='data-account') !{data.account}
  script(type='text/template', id='data-user') !{data.user}
