extends ../../../layouts/account

block head
	title= req.user.roles.account.name.full

block feet
	script(src='/components/jquery-file-upload/js/vendor/jquery.ui.widget.js')
	script(src='/components/jquery-file-upload/js/jquery.iframe-transport.js')
	script(src='/components/jquery-file-upload/js/jquery.fileupload.js')
	script(src='/views/min/adok_components/profil.min.js')
	script(src='/views/min/account/profil/index.min.js')

block body
	div.app-content
		div.page-container
			div.m-zone
				div.m-network(id="network")
					div.m-modal
						div.modal__header
							span.title Mon réseau
							span.close
								= t('cl')
						div.modal__content
							div.friends
								for account in friends.accounts
									a(href='/user/'+account.id+''): span.item
										img.pic(src=''+account.pic+'')
										span.full= account.name
						div.modal__footer
				div.m-badge(id="badge")
					div.m-modal
						div.modal__header
							span.title Mes badges
							span.close
								= t('cl')
						div.modal__content
							div.badges
								for badge in badges
									div.badge_a
										div.hexagon(style="background-image: url(http://csshexagon.com/img/meow.jpg);")
											div.hexTop
											div.hexBottom
										span.name= badge.name
										span.title= badge.title
										span.desc= badge.desc
						div.modal__footer
				div.m-report_u(id="report_u")
					div.m-modal
						div.modal__header
							span.title Signaler un utilisateur
							span.close
								= t('cl')
						div.modal__content
							div.wrap-report
								label Votre signalement concerne
								select.choices
									option(value='hrai') Haine, racisme ou insultes
									option(value='porn') Pornographie
									option(value='void') Usurpation d'identité
									option(value='vopi') Vol de photos
									option(value='othe') Autre(s)
								div
									label(for="comments") Commentaires
									textarea(id="comments")
								div.validation
									button.btn-create_report Envoyer
						div.modal__footer

				div#picture
				div#details

				div.third-part
					if isUserAccount
						button.btn(id="t_network") Mon réseau
						button.btn(id="t_badge")
							span -
							|  badge(s)
					if !isUserAccount
						button.btn(id="t_badge")
							span  -
							|  badge(s)
					div.social_link
					if !isUserAccount
						if isLinked == true
							button#link.btn.btn-primary(type='button')= t('zone.remme')
						else if isLinked == false
							button#link.btn.btn-primary(type='button')= t('zone.addme')
						else if isLinked == 'waiting'
							button#link.btn.btn-primary(type='button')= t('zone.cancel')
						else if isLinked == 'pending'
							button#link-accept.btn.btn-primary(type='button')= t('zone.accept')
							button#link-deny.btn.btn-primary(type='button')= t('zone.deny')
						div: a(id="t_report_u") Signaler l'utilisateur
				div.fourth
					if (isLinked == true || isUserAccount)
						div#wrap-history
							div.scroll

		script(type='text/template', id='tmpl-history')
			a(class!="elem" href!='/event/<%= _id %>')
				<% if (photos) { %>
				div.photos
					<%= photos %>
				<% } else { %>
				div.photos
					img(src="/medias/others/1.jpg")
				<% } %>
				div.acc-photo
					img(src!="<%= acc.roles.account.picture %>")
					span.acc-name <%= acc.roles.account.name.first %>
				div.title
					<%= title %>
				div.desc
					<%= desc %>

		script(type='text/template', id='tmpl-picture')
			if avatar
				img.self-avatar(src='#{avatar}')
			form#formAvatar
				input#avatarUpload(type='file', name='files', data-url='/upload/image/avatar')
			if isUserAccount
				btn.btn-edit#avatarLabel Editer

		script(type='text/template', id='tmpl-details')
			div.alerts
				|<% _.each(errors, function(err) { %>
				div.alert.alert-danger.alert-dismissable
				|<%= err %>
				|<% }); %>
				|<% if (success) { %>
				div.alert.alert-info.alert-dismissable
					span= t('settings.info-save')
					button.close(type='button', data-dismiss='alert') &times;
				|<% } %>
			div.wrap-inf
				div.first
					div.control-group(class!='<%= errfor.first ? "has-error" : "" %>')
					p#first <%- first %>
					span.help-block <%= errfor.first %>
				div.last
					div.control-group(class!='<%= errfor.last ? "has-error" : "" %>')
					p#last <%- last %>
					span.help-block <%= errfor['last'] %>
			if isUserAccount
				div.control-group
					button#up.btn-validate.btn-update(type='button')= t('settings.update')
					button.btn-validate.btn-update-valid(type='button')= t('validate')

		script(type='text/template', id='data-account') !{data.account}
		script(type='text/template', id='data-user') !{data.user}
		script(type='text/template', id='data-history-event') !{events}
		script(type='text/template', id='data-badges') !{badges}
