doctype html
html
  head
      block head
        title #{title}
      meta(charset='utf-8')
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
      link(rel='stylesheet', href='/css/main.css')
      noscript
        meta(http-equiv="refresh", content="0;/views/noscript.html")
      block neck
  body
    div.app-container
      div.app-pusher
        include challenge
        div.l-header
          a.l-header__icon(href="#", id="header__icon")
          a.l-header__logo(href='/account/')
            span.wrap(title= t('nav.home'))
              img(src="/medias/logo/logo-bg.png" class="logo-adok")
              span.logo-1 adok
          div.l-header__navbar
            div.searchbar
              input(type="text", id="asearchbar")
              span.icon
                i.fa.fa-search
              div.res
            ul.navbar-r
              li.nav-dropdown
                a.dropdown-label(href='#')
                  span.fname= t('nav.settings')
                  span.caret
                ul.nav-dropdown-menu
                  li: a(href='/account/settings/')
                    = t('account.preference')
                  li: a(href='/logout/')
                    = t('account.logout')
              span.lang
                span.fr
                  a
                    span.txt Fr
                    img(src="/medias/lang/france.svg")
                span.sep |
                span.en
                  a
                    span.txt En
                    img(src="/medias/lang/united-kingdom.svg")
            ul.navbar-l
              li#t_propose: a.propose
                i.fa.fa-share-alt
                span.helper= t('account.propose')
              li: a.profil(href='/user/#{id}')
                img#profilavatar(src='#{req.user.roles.account.picture}')
                span.helper= req.user.roles.account.name.first
        include notifications
        include chat

        block body

        div.l-footer
          span.l-footer__copyright
            |&#169; #{copyrightYear} #{copyrightName}
          span.l-footer__feedback
            button.btn(id="t_feedback") FEEDBACK
            li: a(href='/')= t('nav.home')
            li: a(href='/account/propose/')= t('account.propose')
        div.clearfix

        div.app-cache(id="app-cache")

      include feedback
      include tmpl-chat
      include tmpl-feedback
      include tmpl-evenTile

      div.ajax-spinner
          img(src='/medias/others/ajax-pulse.gif')

      //if lte IE 9
          script(src='/layouts/ie-sucks.min.js')
      script(src='/layouts/components.min.js')
      script(src='/views/min/adok_components/feedback.min.js')
      script(src='/views/min/adok_components/notifications.min.js')
      script(src='/views/min/adok_components/challenge.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='/layouts/sockets.js')

      block feet
