div.box-overlay#m-overlay
div.m-propose(id="propose", aria-hidden="true")
  div.l-propose.m-modal
    div.modal__header
      span.title= t('challenge._it')
      span.close
        i.fa.fa-backward
        = t('cl')
    div.modal__content
      div.propose__wrap
        div.fs-form-wrap(id="propose_wrap")
          form.fs-form.fs-form-full(id="propose_form", autocomplete="off")
            div.msgbox
              span.error-1= t('challenge.error-field')
              span.error-2= t('challenge.error-mail')
            ol.fs-fields
            button.fs-submit(type="submit") Valider
    div.modal__footer
      div.return
        button.btn.btn-return= t('challenge.return')

script(type='text/template', id='tmpl-event')
  li(data-input-trigger)
    label.fs-field-label.fs-anim-upper(for='title')= t('challenge.title')
    input.fs-anim-lower(name='title', value!='<%= title %>', autofocus, required)
    label.fs-field-label.fs-anim-upper(for='hashtag')= t('challenge.hashtags')
    input.fs-anim-lower(name='hashtag', value!='<%= hashtag %>', autofocus, required)
    label.fs-field-label.fs-anim-upper(for='desc')= t('challenge.desc')
    textarea.fs-anim-lower(name='desc', value!='<%= desc %>')
    label.fs-field-label.fs-anim-upper(for='place')= t('challenge.place')
    input.fs-anim-lower(name='place', value!='<%= place %>')
    input.fs-anim-lower(type='hidden', name='place_value', value!='<%= place_value %>')
    input.fs-anim-lower(type='hidden', name='place_Lat', value!='<%= place_Lat %>')
    input.fs-anim-lower(type='hidden', name='place_Lng', value!='<%= place_Lng %>')
    div.privacy#privacy
      div.ptc
        label.fs-field-label.fs-anim-upper= t("challenge.notify-friend")
        br
        input(type="text", name="ptc_list")
        ul.container-ptc
    
script(type='text/template', id='tmpl-invitation_item')
  li(userID!="<%= uid %>")
    img(src!="<%= pic %>")
    span.name
      | <%= name %>
    span.remove x


