div.modals
  div.sign-in
    div.m-signin(id="signin", aria-hidden='true')
      div.l-signin.m-modal
        div.modal__header
          span.title Connexion
          span.close= t('cl')
        div.modal__content
          div.socials
            if oauthGoogle ||oauthFacebook
              if oauthMessage
                div.alerts
                  div.alert.alert-info.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    |#{oauthMessage}&nbsp;
                    b
                      a(href='/signup/')= t('nav.signup')
              div.form-actions
                div.btn-group.btn-group-justified
                  if oauthFacebook
                    div.socials-button
                      a.btn-facebook(href='/login/facebook/')
                        i.fa.fa-facebook
                        span Se connecter avec Facebook
                  if oauthGoogle
                    div.socials-button
                      a.btn-google-plus(href='/login/google/')
                        i.fa.fa-google
                        span Se connecter avec Google+
        div.modal__footer
  div.sign-up
    div.m-signup(id="signup", aria-hidden='true')
      div.l-signup.m-modal
        div.modal__header
          span.title Inscription
          span.close= t('cl')
        div.modal__content
          div.socials
            if oauthGoogle || oauthFacebook
              if oauthMessage
                div.alerts
                  div.alert.alert-info.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    |#{oauthMessage}&nbsp;
                    b
                      a(href='/login/')= t('nav.signin')
              div.form-actions
                div.btn-group.btn-group-justified
                  if oauthFacebook
                    div.socials-button
                      a.btn-facebook(href='/signup/facebook/')
                        i.fa.fa-facebook
                        span S'inscrire avec Facebook
                  if oauthGoogle
                    div.socials-button
                      a.btn-google-plus(href='/signup/google/')
                        i.fa.fa-google
                        span S'inscrire avec Google+
        div.modal__footer
  div.contact
    div.m-contact(id="contactm", aria-hidden='true')
      div.l-contact.m-modal
        div.modal__header
          span.title Contact!
          span.close= t('cl')
        div.modal__content
          div#contact-form
        div.modal__footer
  div.team
    div.m-team(id="teamm", aria-hidden='true')
      div.l-team.m-modal
        div.modal__header
          span.title Staff
          span.close= t('cl')
        div.modal__content
          div.dev-web
            img(src="/medias/team/terrac.jpg")
            div Luc Terracher
          div.dev-web
            img(src="/medias/team/nadali.jpg")
            div Thomas Nadalie
          div.dev-api
            img(src="/medias/team/collin.jpg")
            div Jonathan Collinet
          div.dev-api
            img(src="/medias/team/cahuza.jpg")
            div Lilian Cahuzac
          div.dev-mobile
            img(src="/medias/team/fillon.jpg")
            div Guillaume Fillon
          div.dev-mobile
            img(src="/medias/team/robert.jpg")
            div Rémi Robert
          div.dev-mobile
            img(src="/medias/team/bort.jpg")
            div Benjamin Bort
        div.modal__footer
