div.m-delete_prop(id="delete_prop")
	div.m-modal
		div.modal__header
			span.title= t("detail-event.delete")
			span.close
				= t('cl')
		div.modal__content
			h2= t("sure")
			button.btn.btn-yes= t("yes")
			button.btn.btn-no= t("no")
		div.modal__footer

div.m-editd_prop(id="editd_prop")
	div.m-modal
		div.modal__header
			span.title= t("detail-event.confirm")
			span.close
				= t('cl')
		div.modal__content
			h2= t("detail-event.confirmed-update")
		div.modal__footer

div.m_report_c(id="report_c")
	div.m-modal
		div.modal__header
			span.title= t("detail-event.report")
			span.close
				= t('cl')
		div.modal__content
			#createReport
		div.modal__footer

div.sidebar-prop.sb.is-close(id="prop_edit")

script(type='text/template', id='tmpl-createReport')
	div.wrap-report
		label= t("detail-event.modal-title")
		select.category(id="category", name="category")
			option(value='pdat')= t("detail-event.modal-pdat")
			option(value='hrai')= t("detail-event.modal-hrai")
			option(value='porn')= t("detail-event.modal-porn")
			option(value='suic')= t("detail-event.modal-suic")
			option(value='void')= t("detail-event.modal-void")
			option(value='vopi')= t("detail-event.modal-vopi")
			option(value='spam')= t("detail-event.modal-spam")
			option(value='othe')= t("detail-event.modal-other")
		div
			label(for="comments")= t("detail-event.modal-comments")
			textarea.comments(id="comments", name="comments")
		div.validation
			button.btn.btn-create_report= t("detail-event.modal-send")

script(type="text/template", id="tmpl-edit-event")
	div.content
		input.fs-anim-lower(type='hidden', name='place_value', value!='<%= place %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lat', value!='<%= latLng[1] %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lng', value!='<%= latLng[0] %>', required)
		#title
			label(for="title")= t("challenge.title")
			input(name="title" type="text" value="")
		#hashtag
			label(for="hashtag")= t("challenge.hashtags")
			input(name="hashtag" type="text" value="")
		#desc
			label(for="desc")= t("challenge.desc")
			textarea(name="desc" type="text" value="")
		#place
			label(for="place")= t("challenge.place")
			input(name="place" type="text" value="")
		div.actions
			button.btn.btn-validate(id="t_editd_prop")= t('validate')
			div.refresh
				button.btn= t('refresh')
			div.cl
				button.btn(id="t_prop_close")= t('cl')
