div#notifications
//- for notif in notifications
//- 	if notif.type == 2
//- 		span#ntf.event(href='#')
//- 			a(href='#{notif.link}')
//- 				#who
//- 					img(src='#{notif.picture}')
//- 				span.fname #{notif.who}
//- 			#what #{notif.data}
//- 			#actions(nid='#{notif.id}', eid='#{notif.eid}', etype='#{notif.etype}', uid='#{notif.uid}', utype='#{notif.accType}')
//- 				span.accept
//- 					div.acc
//- 						i.fa.fa-check
//- 				span.deny
//- 					div.den
//- 						i.fa.fa-times
//- 			#bottom= moment(notif.date).format('DD.MM.YYYY -2 HH:mm')
//- 	else if notif.type == 3 || notif.type == 4
//- 		span#ntf.event.ans(href='#')
//- 			a(href='#{notif.link}')
//- 				#who
//- 			img(src='#{notif.picture}')
//- 			span.fname #{notif.who}
//- 		#what #{notif.data}
//- 		#bottom= moment(notif.date).format('DD.MM.YYYY -34 HH:mm')
//- 	else if !notif.type
//- 		span#ntf.link.askn(href='#')
//- 			a(href='#{notif.link}')
//- 				#who
//- 				img(src='#{notif.picture}')
//- 			span.fname #{notif.who}
//- 		#what #{notif.data}
//- 		#actions(nid='#{notif.id}', uid='#{notif.uid}', linkType='#{notif.accType}')
//- 			span.accept
//- 				div.acc
//- 					i.fa.fa-check
//- 			span.deny
//- 				div.den
//- 					i.fa.fa-times
//- 			#bottom= moment(notif.date).format('DD.MM.YYYY -no HH:mm')
//- 	else if notif.type == 1
//- 		span#ntf.link.val(href='#')
//- 			a(href='#{notif.link}')
//- 				#who
//- 				img(src='#{notif.picture}')
//- 			span.fname #{notif.who}
//- 		#what #{notif.data}
//- 		#bottom= moment(notif.date).format('DD.MM.YYYY - HH:mm')
