div.box-overlay#m-overlay
div.m-propose(id="propose", aria-hidden="true")
	div.l-propose.m-modal
		div.modal__header
			span.title= t('propose._it')
			span.close
				i.fa.fa-backward
				= t('cl')
		div.modal__content
			div.propose__wrap
				div.fs-form-wrap(id="propose_wrap")
					form.fs-form.fs-form-full(id="propose_form", autocomplete="off")
						div.msgbox
							span.error-1= t('propose.error-field')
							span.error-2= t('propose.error-mail')
						ul.fs-fields
							li.fs-current
								label.fs-field-label.fs-anim-upper(for="category").
									Quelle est la catégorie de votre proposition ?
								div.fs-radio-group.fs-radio-custom.clearfix.fs-anim-lower
									span.ev
										input#cat-event(name='category', type='radio', value='1', required)
										label.radio-events(for='cat-event')= t('propose.event')
									span.ex
										input#cat-exchange(name='category', type='radio', value='2', required)
										label.radio-exchanges(for='cat-exchange')= t('propose.exchange')
									if req.session.accType == 'pro'
										span.op
											input#cat-opportunity(name='category', type='radio', value='3', required)
											label.radio-opportunities(for='cat-opportunity')= t('userhome.opportunity')
						ol.fs-fields
						button.fs-submit(type="submit") Valider
		div.modal__footer
			div.return
				button.btn= t('propose.return')

script(type='text/template', id='tmpl-event')
	li(data-input-trigger)
		label.fs-field-label.fs-anim-upper(for='category')= t('propose.category')
		div.fs-radio-group.fs-radio-custom.clearfix.fs-anim-lower
			span
				input(id="activity", name="categories0", type="radio", value="activity", required)
				label.radio-activity(for="activity")= t("propose.activity")
			span
				input(id="hobby", name="categories0", type="radio", value="hobby", required)
				label.radio-hobby(for="hobby")= t("propose.leisure")
			span
				input(id="sport", name="categories0", type="radio", value="sport", required)
				label.radio-sport(for="sport")= t("propose.sport")
	li(data-input-trigger)
		label.fs-field-label.fs-anim-upper(for='title')= t('propose.title')
		input.fs-anim-lower(name='title', value!='<%= title %>', autofocus, required)
		label.fs-field-label.fs-anim-upper(for='price')= t('propose.price')
		input.fs-anim-lower.input-range#rangeCtrlp0(type='range', size='2', step="1", max="1000", min= "0", value= "0", required)
		input.fs-anim-lower#priceCtrlp0(name='price', value= t("propose.free"), disabled, required)
		i.fa.fa-eur.fs-anim-lower
		label.fs-field-label.fs-anim-upper(for='place')= t('propose.place')
		input.fs-anim-lower(name='place', value!='<%= place %>')
		input.fs-anim-lower(type='hidden', name='place_value', value!='<%= place_value %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lat', value!='<%= place_Lat %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lng', value!='<%= place_Lng %>', required)
	li(data-input-trigger)
		label.now-label.fs-field-label.fs-anim-upper(for='Now')= t('propose.now')
		input.now-input.input.fs-anim-lower(name='Now', type="checkbox", required)
		label.date-simple.fs-field-label.fs-anim-upper(for='fromDate')= t('propose.date')
		input.fs-anim-lower.input-range#rangeCtrld0(type='range', size='2', step='86400000', max= moment().add(1, 'M').unix()*1000,
			min= moment().unix()*1000, value= moment().unix()*1000, required)
		input.fs-anim-lower#dateCtrld0(type='date', name='fromDate', max= moment().endOf('month').format('DD/MM/YYYY'),
			min= moment().format('DD/MM/YYYY'), value= moment().format('DD/MM/YYYY'), disabled, required)
		label.fs-field-label.fs-anim-upper(for='fromHour')= t('propose.hour')
		input.fs-anim-lower.input-range#rangeCtrlh0(type='range', size='2', step="5", max="1440", min= "0", value= "722", required)
		input.fs-anim-lower#hourCtrlh0(type='text', data-role="none", value="12:00", disabled, required)


script(type='text/template', id='tmpl-exchange')
	li(data-input-trigger)
		label.fs-field-label.fs-anim-upper(for='category')= t('propose.category')
		div.fs-radio-group.fs-radio-custom.clearfix.fs-anim-lower
			span
				input(id="purchase", name="categories1", type="radio", value="purchase", required)
				label.radio-purchase(for="purchase")= t("propose.purchase")
			span
				input(id="sale", name="categories1", type="radio", value="sale", required)
				label.radio-sale(for="sale")= t("propose.sale")
			span
				input(id="hiring", name="categories1", type="radio", value="hiring", required)
				label.radio-hiring(for="hiring")= t("propose.hire")
			span
				input(id="service", name="categories1", type="radio", value="service", required)
				label.radio-service(for="service")= t("propose.service")
	li(data-input-trigger)
		label.fs-field-label.fs-anim-upper(for='title')= t('propose.title')
		input.fs-anim-lower(name='title', value!='<%= title %>', required, autofocus)
		label.fs-field-label.fs-anim-upper(for='price')= t('propose.price')
		input.fs-anim-lower.input-range#rangeCtrlp1(type='range', size='2', step="1", max="500", min= "1", value= "0", required)
		input.fs-anim-lower#priceCtrlp1(name='price', value="1", required)
		i.fa.fa-eur.fs-anim-lower
		label.fs-field-label.fs-anim-upper(for='place')= t('propose.place')
		input.fs-anim-lower(name='place', value!='<%= place %>')
		input.fs-anim-lower(type='hidden', name='place_value', value!='<%= place_value %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lat', value!='<%= place_Lat %>', required)
		input.fs-anim-lower(type='hidden', name='place_Lng', value!='<%= place_Lng %>', required)
		label.fs-field-label.fs-anim-upper(for='troc')= t('propose.troc')
		input.input.fs-anim-lower(name='troc', type="checkbox", required)
	li(data-input-trigger)
		label.fs-field-label.fs-anim-upper(for='fromDate')= t('propose.date')
		input.fs-anim-lower#dateCtrld1(type='text', data-role="none",
					value=moment().format('DD/MM') + " " + moment().add(1, "M").format('DD/MM'),
					max= moment().endOf('month').format('DD/MM'), min= moment().format('DD/MM'), required)
		div.fs-anim-lower#rangeCtrld1
		label.fs-field-label.fs-anim-upper(for='fromHour')= t('propose.hour')
		input.fs-anim-lower#hourCtrlh1(type='text', data-role="none", value= "10:00 - 20:00", required)
		div.fs-anim-lower#rangeCtrlh1

if req.session.accType == 'pro'
	script(type='text/template', id='tmpl-opportunity')
		li(data-input-trigger)
			label.fs-field-label.fs-anim-upper(for='category')= t('propose.category')
			div.fs-radio-group.fs-radio-custom.clearfix.fs-anim-lower
				span
					input(id="activity", name="categories2", type="radio", value="activity", required)
					label.radio-activity(for="activity")= t("propose.activity")
				span
					input(id="hobby", name="categories2", type="radio", value="hobby", required)
					label.radio-hobby(for="hobby")= t("propose.leisure")
				span
					input(id="sport", name="categories2", type="radio", value="sport", required)
					label.radio-sport(for="sport")= t("propose.sport")
		li(data-input-trigger)
			label.fs-field-label.fs-anim-upper(for='title')= t('propose.title')
			input.fs-anim-lower(name='title', placeholder=''+t('propose.title')+'', value!='<%= title %>', required)
		li(data-input-trigger)
			label.fs-field-label.fs-anim-upper(for='fromDate')= t('propose.date')
			input.input-range#rangeCtrld0(type='range', size='2', step='86400000', max= moment().add('M', 1).unix()*1000, min= moment().unix()*1000, value= moment().unix()*1000)
			input.fs-anim-lower#dateCtrld0(type='date', name='fromDate', max= moment().endOf('month').format('DD/MM/YYYY'),
												min= moment().format('DD/MM/YYYY'), value= moment().format('DD/MM/YYYY'), required)
		li(data-input-trigger)
			label.fs-field-label.fs-anim-upper(for='toDate')= t('propose.date')
			input.input-range#rangeCtrld1(type='range', size='2', step='86400000', max= moment().add('M', 1).unix()*1000, min= moment().unix()*1000, value= moment().unix()*1000)
			input.fs-anim-lower#dateCtrld1(type='date', name='toDate', max= moment().endOf('month').format('DD/MM/YYYY'),
												min= moment().format('DD/MM/YYYY'), value= moment().format('DD/MM/YYYY'), required)
		li(data-input-trigger)
			label.fs-field-label.fs-anim-upper(for='place')= t('propose.place')
			input.fs-anim-lower(name='place', placeholder=''+t('propose.place')+'', value!='<%= place %>')
			input.fs-anim-lower(type='hidden', name='place_Lat', value!='<%= place_Lat %>')
			input.fs-anim-lower(type='hidden', name='place_Lng', value!='<%= place_Lng %>')
		li(data-input-trigger)
			label.fs-field-label.fs-anim-upper(for='price')= t('propose.price')
			input.fs-anim-lower(name='price', placeholder=''+t('propose.price')+'', value!='<%= price %>', required)
		li(data-input-triger)
			label.fs-field-label.fs-anim-upper(for='troc')= t('propose.troc')
			input.fs-anim-lower(name='troc', placeholder=''+t('propose.troc')+'', value!='<%= troc %>', required)
