extends ../../../../layouts/account

block head
	title #{title}
	link(href='/adok_components/mapbox/mapbox.css', rel='stylesheet')

block feet
	script(src='/adok_components/mapbox/mapbox.js')
	script(src='/adok_components/mapbox/locate.js')
	script(src='/adok_components/mapbox/fullscreen.js')
	script(src='/views/min/events/index.min.js')
	script(src='/views/events/detail_event.js')

block body
	div.app-content
		div.page-container
			include ../../../../layouts/details_event
			#proposal
				div.right

	script(type='text/template', id="tmpl-right")
		input.elat(type="hidden", id="lat", value!="<%= latLng[1] %>")
		input.elng(type="hidden", id="lng", value!="<%= latLng[0] %>")
		<% if (latLng[0]) { %>
		div(id="map-event")
		<% } %>
		div.wrap-l-r
			div.left
				div.place
					<% if (latLng[0]) { %>
					label= t('challenge.place')
					span <%= place %>
					<% } %>
				div.title
					label= t('challenge.title')
					<%= title %>
				<% if (hashtag) { %>
				div.hashtag
					label= t('challenge.hashtags')  
					span  <%= hashtag %>
				<% } %>
				<% if (accType == 'account') { %>
				a.prop_by(href!='/user/<%= acc._id %>')
					span= t("event.ppby")
					div.author
						span.fullname
							<%= acc.roles.account.name.first %>
						<% if (acc.roles.account.picture) { %>
						img(src!='#{mediaserverUrl}<%= acc.roles.account.picture %>')
						<% } %>
				<% } %>
				<% if (desc) { %>
				div.desc
					label= t('challenge.desc')
					<%= desc %>
				<% } %>
				if (!isUserAccount)
					div.join_proposal
						button.btn.btn-join(id="t_prop_join")= t("participate")
					div.left_proposal
						button.btn.btn-left(id="t_prop_left")= t("un-participate")
					div.validate_proposal
						button.btn.btn-wait(id="t_prop_valid")= t("validate")
					div.report-challenge
						a(id="t_report_c")= t("detail-event.report")
				if (isUserAccount)
					div.delete_proposal
						a.red(id="t_delete_prop")= t("event.delete")
			div.right
				div.comments
					input(id='commentTextaera' type='text', name='comment', value!='', placeholder= t("detail-event.modal-input-comment"))
					button.btn.btn-validate(id='buttonAddComment')= t("event.publish")
					ul(id='listComment')
						
	script(type='text/template', id='tmpl-createReport')
		div.wrap-report
			label= t("detail-event.modal-title")
			select.category(id="category", name="category")
				option(value='hrai')= t("detail-event.modal-hrai")
				option(value='porn')= t("detail-event.modal-porn")
				option(value='void')= t("detail-event.modal-void")
				option(value='vopi')= t("detail-event.modal-vopi")
				option(value='othe')= t("detail-event.modal-other")
			div
				label(for="comments")= t("detail-event.modal-comments")
				textarea.comments(id="comments", name="comments")
			div.validation
				button.btn.btn-create_report= t("detail-event.modal-send")

	script(type='text/template', id='event-results') !{event}
	script(type='text/template', id='event-reg') !{isRegistered}
	script(type='text/template', id='event-participant') !{participants}
